*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vw;
    background: #ffeeb7;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: #5c0100;
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}

li{
    font-size: 4vh;
    color: white;
}
header{
    height: 90vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    width:100% ;
}

#conejo{
    width: 63%;
    bottom: 0;
}
#letras{
    width: 65%;
    bottom: 0;
}

.titulo{
    color: #5c0100;
    font-size: 10vh;

    position: absolute;
    top: 25%;
    right: 0;

    transform: translateY("-50%");

    z-index: 100;
    margin: 2vh;

    text-shadow: 5px 0px 0px 0px rgb(255, 255, 255, 1);
    transition: right .5s ease-in-out;
}
main{
    height: 100vh;
}

li{
    font-size: 4vh;
    color: white;
}